body {
	justify-content: center;
}

/* .logo {
	text-align: center;
} */
.wma2-logo {
	width: 100%;
}

.session-message {
	color: #999;
	text-align: center;
	margin: 5px 0;
}

.login-link {
	margin-top: 20px;
}
.login-link a {
	color: #134;
	font-weight: bold;
	text-decoration: none;
}



@media(max-width: 800px), (max-height: 500px) {
	.login-link a {
		color: #ccc;
	}
}
